.logotipe{
    display: block;
    margin: 0 auto;
    width: 3%;
    height: auto;
}

body{
    color:  black;
}
header{
    width: 100%;
    
}
h1{
    text-align: center;  
    color: rgb(53, 52, 52);  
}

.full-text{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 15px;
   
    color: rgb(53, 52, 52);
}
.container-fluid{   
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    color: rgb(204, 203, 203); 
    font-size: 150%;
}
.col-sm
{
    float: left;
    display: block;
    background-color: rgb(53, 52, 52);

}
.leftText{
    width: 56%;
    text-align: left;
    padding:1% 2%;
}
.rightText{
    width: 36%;
    text-align: right;
    padding:1% 2%;
}
button{
    padding: 10px;
}