<header id="head-menu">
     <div class="logotip">
            <img id="logo" src="../assets/images/MLlogotipe.png" class="logotipe">
     </div>
  <h1>
    {{ title }}
   </h1>
</header>
<section>
  <div class="full-text">
   <div class="router">
     <a routerLink="/lazy">Lazzy component</a>
   </div>
  <router-outlet></router-outlet>
  </div>
<section>
<footer>
        <div class="container-fluid ">
              <div class="row">
                  <div class="col-sm leftText">
                    © AllRightsReserved
                  </div>
                <div class="col-sm rightText">
                    2018
                  </div>
              </div>
        </div>
</footer>
